body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTenJEHaysCLtMHDPHe2prI9mxV49UWwAjcow&s);
}
.card__btn{
    margin: 100px;
   border-radius: 10px;
   }
   .card__btn{
    margin: 100px;
    border-radius: 10px;
   }